span{
    color: rgb(255, 0, 0);
  }
  h1{
      color:rgb(193, 0, 252);
  }
  img{
      width: 400px;;
  }
  #thirdDiv{
      height: 600px;
      width: 500px;
      background-color: rgb(164, 250, 114);
      padding: 50px;
      border-style: dotted; border-color: sienna;
  }
  #spanId{ 
      font-size: 18px;
      margin: 50px;
  }